.center {
    
    margin: 200px;
    /*margin-top: 20px;*/
    width: 300px;
    height: auto;
}


.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.input {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  width: 200px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
}


.btn_2 {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  width: 70px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
}

.ghost {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  
  transition: .2s ease;

}