/*there are usually some default margin/padding for these elements
you can use this to reset them to 0*/
html, body, div, span, img {
    margin: 0px;
    padding: 0px;
}

/* z-index this guy instead */
#nav {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 9999;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
}

/* inline-block should work better than float as it is not as forceful.
But there a bug in some browsers that requires you to put the -2px left right margins
or else you could have spaces between the items. To see the spaces, delete the negative
margins here and change ul background-color to red */
li {
    /*float: left;*/
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #808080;
}


.active {
    background-color: #4CAF50;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #4CAF50;
    position: absolute;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* You had some bad merge conflicts here */
.dropdown-content a {
    color: #333;
    background-color: #333;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.img {
    position: relative;
    height: 600px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

h2 {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 100%;
    color: white;
    font-size: 48px;
}

#start {
  position: absolute;
  top: 1000px;
  left: 150px;
  width: 300px;

  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  font: normal 36px/normal "Quantico", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  background: rgb(125,213,105);
  box-shadow: 1px 1px 0 0 #599f3f;
  text-shadow: 1px 1px 0 rgba(168,168,168,0.66) ;
}

#spacer {
  height: 48px;
  left:-50px;
}

.heading1 {
  font-weight: bold;
  font-size: 18pt;
}

.section {
    color: #333333;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 28px;
    margin: 100px auto;
    width: 600px;
}

.highlightedRow {
  background-color: lightgrey;
}

/*Slider CSS Starts Here */
#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: 30px auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}